[submodule "themes/osuny"]
	path = themes/osuny
	url = https://github.com/osunyorg/theme.git
[submodule "themes/gaitelyrique-www"]
	path = themes/gaitelyrique-www
	url = https://github.com/osunyorg/gaitelyrique-www
  branch = rework
